@keyframes rotateSunAndMoon {	
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

#about {
    font-family: 'Open Sans', sans-serif;
	position: absolute;
	opacity: 0.5;
	bottom: 0;
	right: 0;
	background-color: white;
	height: auto;
	z-index: 5;
}


.scene {
	display: flex;
	height: 100vh;
	align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
	position: inherit;
	z-index: 1;
}

#sunMoonCycle {
	/* width: 100vw; */
	height: 100vw;
	position: relative;
	/* max-width: 100%; */
	/* max-height: 100vh; */
	margin: auto;
	display: flex;
	align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
	animation: rotateSunAndMoon 48s infinite linear;
	animation-delay: -24s;
}

.sun {
  width: 15vw;
  height: 15vw;
  background-image: url("Jermasun.png");
  background-size: cover;
}

.moon {
  width: 15vw;
  height: 15vw;
  background-image: url("Jermamoon.png");
  background-size: cover;
  transform: scaleY(-1);
}

* {
	margin: 0;
	padding: 0;
	height: 100%;
}

svg {
	position: absolute;
	width: 100vw;
	height: 100vh;
}

body { 
  margin: 0; 
  padding: 0;
  background-color: #000;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

video {
	z-index: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: 3;
}

canvas {
	z-index: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	image-rendering: crisp-edges;
}

#clouds{
	height: 100vh;
	width: 100vw;
	padding: 11.82033096926714vh 0;
	position: absolute;
	z-index: 4;
}
  
@keyframes moveclouds {
	0% {transform: translateX(100vw);}
	100% {transform: translateX(-16vw);}
}
  
.cloud{ 
	animation: moveclouds linear infinite;
	position: absolute;
	/* width: auto; */
	image-rendering: crisp-edges;
	height: auto;
}

#front {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	position: absolute;
	/* top: 90vh; */
	width: 100vw;
	z-index: 5;
	bottom: 0;
	height: calc(442.75px - (0.13 * 100vw));
}

#topLayer {
	background-image: url(./grass.png);
	background-repeat: repeat-x;
	width: 100%;
	height: 32px;
	z-index: 1;
	top: 0;
}

#bottomLayer {
	background-image: url(./dirt.png);
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	z-index: 0;
}
