@keyframes rotateSunAndMoon {	
  from { rotate: 0deg; }
  to { rotate: 360deg; }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

#about {
    font-family: 'Open Sans', sans-serif;
	position: absolute;
	opacity: 0.5;
	bottom: 0;
	right: 0;
	background-color: white;
	height: auto;
}


.scene {
	display: flex;
	height: 100vh;
	align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
}

#sunMoonCycle {
	/* width: 100vw; */
	height: 100vw;
	position: relative;
	/* max-width: 100%; */
	/* max-height: 100vh; */
	margin: auto;
	display: flex;
	align-items: center;
    justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
	animation: rotateSunAndMoon 24s infinite linear;
	animation-delay: -12s;
}

.sun {
  width: 15vw;
  height: 15vw;
  background-image: url("Jermasun.png");
  background-size: cover;
}

.moon {
  width: 15vw;
  height: 15vw;
  background-image: url("Jermamoon.png");
  background-size: cover;
  transform: scaleY(-1);
}

* {
	margin: 0;
	padding: 0;
	height: 100%;
}

svg {
	position: absolute;
	width: 100vw;
	height: 100vh;
}

body { 
  margin: 0; 
  padding: 0;
  background-color: #000;
  background-image: url(background.png); 
  background-size:cover;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

#clouds{
	height: 100vh;
	width: 100vw;
	  padding: 11.82033096926714vh 0;
	  background: #c9dbe9;
	  background: linear-gradient(top, #c9dbe9 0%, #fff 100%);
  }
  
  .cloud {
	animation: moveclouds linear infinite;
	  width: 23.64066193853428vh; height: 7.092198581560283vh;
	  background: #fff;
	  border-radius: 23.64066193853428vh;
	  position: absolute; 
  }
  
  .cloud:before, .cloud:after {
	  content: '';
	  position: absolute; 
	  background: #fff;
	  width: 11.82033096926714vh; height: 9.456264775413711vh;
	  position: absolute; top: -1.7730496453900708vh; left: 1.1820330969267139vh;
	  border-radius: 11.82033096926714vh;
	  transform: rotate(30deg);
	  
  }
  
  .cloud:after {
	  width: 14.184397163120567vh; height: 14.184397163120567vh;
	  top: -6.501182033096927vh; left: auto; right: 1.7730496453900708vh;
  }
  
  @keyframes moveclouds {
	  0% {margin-left: 100vw;}
	  100% {margin-left: -23.64066193853428vh;}
  }