*{ margin: 0; padding: 0;}

body {
	overflow: hidden;
}

#clouds{
  height: 100vh;
  width: 100vw;
	padding: 100px 0;
	background: #c9dbe9;
	background: linear-gradient(top, #c9dbe9 0%, #fff 100%);
}

.cloud {
  animation: moveclouds linear infinite;
	width: 200px; height: 60px;
	background: #fff;
	border-radius: 200px;
	position: absolute; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	border-radius: 100px;
	transform: rotate(30deg);
	
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

@keyframes moveclouds {
	0% {margin-left: 100vw;}
	100% {margin-left: -100vw;}
}